* { 
    margin: 0 ; 
    padding: 0; 
    box-sizing: border-box; 
} 
body{
	background:linear-gradient(to right,violet,blue);
	text-align: center;
	color:black;
	 font-family: sans-serif; 
    background-size: cover; 
    background-attachment: fixed; 

}
.footer{
	background:linear-gradient(to right,blue,violet);
	text-align:left;
}
header{
	text-align:left;
}
header .header-container { 
 position: absolute; 
        width: 100%; 
        margin: 0 auto; 
        height: 150px; 
        display: flex; 
        flex-wrap: wrap; 
    flex-direction: column; 
} 
.header-title { 
        width: 100%; 
        display: flex; 
        align-items: center; 
        justify-content: left; 
} 
.header-menu  { 
    width: 100%; 
 margin: 0 auto; 
} 
.header-menu ul{ 
 list-style: none; 
 display: flex; 
} 
.header-menu ul li { 
 margin: 1dvw; 
} 
nav ul{
	position:relative;
	display:flex;
	justify-content:right;
	align-items: center;
	margin:0;
	padding:0;
	list-style:none;
	flex-wrap: wrap;
}
 ul div
{
	margin-top:65px;
	color:black;
}
h2{
  margin:0px 0px 0px 150px ;
  text-align:left;
}
nav a  {
  text-decoration: none;
  color: white;
  vertical-align: middle;
  padding-left: 5px;
  float:left;
margin: 4px 10px 2px 0px;
}
li{
	list-style-type:none;
}
a{
	color:black;
	text-decoration:none;
}
div p a{
	color:white;
}
table {
	width: 50%;
	margin-bottom: 20px;
	border: 1px solid #dddddd;
	border-collapse: collapse; 
	margin:auto;
}
table th {
	font-weight: bold;
	padding: 5px;
	background: #efefef;
	border: 1px solid #dddddd;
}
table td {
	border: 1px solid #dddddd;
	padding: 5px;
}
#qqq{
	background:#efefef;
}
#ccc{
	background:#efefef;
}
@media screen and (min-width: 981px) 
{ 
     
header { 
 width:100%; 
 background-color: #8ac1dc; 
 height:100px; 
} 
 
header .header-container { 
 width: 100%; 
 max-width: 980px; 
 margin: 0 auto; 
 height: 100px; 
 display: flex; 
 align-items: center; 
    justify-content: space-between; 
} 
 
.header-title { 
 position: absolute; 
 left: 0; 
 width: 400px; 
 display: flex; 
 align-items: center; 
 justify-content: left; 
} 
.header-menu  { 
  
 width: 100%; 
 max-width: 960px; 
 margin: 0 auto; 
} 
.header-menu ul{ 
 list-style: none; 
 display: flex; 
 justify-content: end; 
} 
}